* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    background-image: url(assets/Purple.png);
}
body {
    text-align: center;
    background-color: #e6e6fa;
    padding-bottom: 25px;
    padding-top: 25px;
}
h1{
    font-size: 24pt;
    font-family:'Gill Sans';
    font-weight:bold;
}
p{
    font-size: 14pt;
    font-family: 'Gill sans';
    font-style: normal;
    font-weight: lighter;
}
h3{
    font-size: 16pt;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight:bold;
}
pre{
    color: black;
}
a:link{
 color: black;
 text-decoration: none;
}
a:visited{
    color:black;
}
li{
    list-style-type: none;
}