* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(assets/Purple.png);
}
body {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.desc {
  text-align: left;
  padding-left: 2vw;
  padding-bottom: 2vh;
  line-height: 3vh;
}
h1 {
  font-size: 24pt;
  font-family: "Gill Sans";
  font-weight: bold;
  padding-bottom: 2vh;
}
p {
  font-size: 14pt;
  font-family: "Gill sans";
  font-style: normal;
  font-weight: lighter;
}
h3 {
  font-size: 16pt;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: bold;
  padding-top: 1vh;
}
pre {
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
li {
  list-style-type: none;
}
#ascii {
  padding-top: 2vh;
  color: #301934;
}
#container {
  background-color: #e6e6fa;
  width: 75vw;
  height: 75vh;
}
